
<div class="splash-example">
	<div class="splash-example-message" id="message"></div>
    <div class="pure-g">
        <div class="pure-u-1-4 pure-u-md-1-12 splash-example-meta"><a href="#about" id="aboutBtn">About</a></div>
        <div class="pure-u-1-4 pure-u-md-1-6 splash-example-meta"><a href="/start/handlebars">Build this example</a></div>
        <div class="pure-u-1-2 pure-u-md-3-4 splash-example-meta splash-example-switcher" id="switcher">Change language to <select></select></div>
    </div>
    <div class="splash-about"></div>
</div>
