<div id="{{id}}" class="example">
    <div class="example-source">
      {{#code "html"}}
        {{{source.template}}}
      {{/code}}
    </div>

    <div class="example-context">
      {{#code "javascript"}}
        {{{source.context}}}
      {{/code}}
    </div>

    <div class="example-output">
        {{{rendered}}}
    </div>
</div>
