<section class="foot">
    <div class="legal">
        <div class="legal-license l-wrap">
            <p>
                All code on this site is licensed under the <a href="https://github.com/yahoo/formatjs-site/blob/master/LICENSE.md">Yahoo BSD License</a> unless stated.
            </p>
        </div>

        <div class="legal-copyright l-wrap">
            <p>
                <span class="legal-clause">
                    &copy; 2014 Yahoo! Inc.
                </span>
                <span class="legal-clause">
                    All rights reserved.
                </span>
            </p>
        </div>
    </div>
</section>
