<div class="footer">
    <div class="legal pure-g">
        <div class="pure-u-1-2 u-sm-1-2">
            <p class="legal-license">
                All code on this site is licensed under the <a href="https://github.com/yahoo/js-intl-docs/blob/master/LICENSE.md">Yahoo BSD License</a> unless stated.<br>
                All content on this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> unless stated.
            </p>
        </div>

        <div class="pure-u-1-2 u-sm-1-2">
            <ul class="legal-links">
                <li><a href="https://github.com/yahoo/js-intl-docs/">GitHub Project</a></li>
                <li><a href="http://yuilibrary.com/security/">Security Contact Info</a></li>
            </ul>

            <p class="legal-copyright">
                © 2014 Yahoo! Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>
