<footer class="foot">
    <div class="nav">
        <menu class="nav-menu">
          {{#each footMenuItems}}
            <li class="nav-menu-item">
                <a href="{{pathTo name}}">{{label}}</a>
            </li>
          {{/each}}
        </menu>
    </div>

    <div class="legal">
        <div class="legal-license l-wrap">
            <p>
                All code on this site is licensed under the <span class="legal-clause"><a href="https://github.com/yahoo/formatjs-site/blob/master/LICENSE.md">Yahoo BSD License</a></span>, <span class="legal-clause">unless otherwise stated.</span>
            </p>
        </div>

        <div class="legal-copyright l-wrap">
            <p>
                <span class="legal-clause">
                    &copy; 2014 Yahoo! Inc.
                </span>
                <span class="legal-clause">
                    All rights reserved.
                </span>
            </p>
        </div>
    </div>
</footer>
