<ul>
    <li>
        <a href="{{pathTo 'guides' guide='basic-i18n'}}">
            Basic Internationalization Principles
        </a>
    </li>
    <li>
        <a href="{{pathTo 'guides' guide='runtime-environments'}}">
            Runtime Environments
        </a>
    </li>
    <li>
        <a href="{{pathTo 'guides' guide='message-syntax'}}">
            Message Syntax
        </a>
    </li>
</ul>
