<ul class="integrations-list">
    <li class="integrations-list-item">
        <a href="{{pathTo 'handlebars'}}">
            <h3 class="integrations-list-name">Handlebars</h3>
            <img class="integrations-list-mark" src="/img/handlebars.png">
        </a>

    </li>

    <li class="integrations-list-item">
        <a href="{{pathTo 'react'}}">
            <h3 class="integrations-list-name">React</h3>
            <img class="integrations-list-mark" src="/img/react.svg">
        </a>
    </li>

    <li class="integrations-list-item">
        <a href="{{pathTo 'dust'}}">
            <h3 class="integrations-list-name">Dust</h3>
        </a>
    </li>
</ul>
