<ul class="integrations-list">
    <li class="integration">
        <a class="integration-content" href="https://github.com/yahoo/react-intl">
            <h3 class="integration-name">React</h3>
            <div class="integration-brand">
                <img class="integration-mark" alt="React logo" src="/img/react.svg">
            </div>
        </a>
    </li>

    <li class="integration">
      <a class="integration-content" href="https://github.com/yahoo/ember-intl">
        <h3 class="integration-name">Ember</h3>
        <div class="integration-brand">
          <img class="integration-mark" alt="Ember logo" src="/img/ember.svg">
        </div>
      </a>
    </li>

    <li class="integration">
      <a class="integration-content" href="{{pathTo 'handlebars'}}">
        <h3 class="integration-name">Handlebars</h3>
        <div class="integration-brand">
          <img class="integration-mark" alt="Handlebars logo" src="/img/handlebars.svg">
        </div>
      </a>
    </li>

    <li class="integration">
        <a class="integration-content" href="{{pathTo 'dust'}}">
            <h3 class="integration-name">Dust</h3>
            <div class="integration-brand">
                <img class="integration-mark" alt="Dust logo" src="/img/dust.svg">
            </div>
        </a>
    </li>
</ul>
