<div class="legal">
    <div class="legal-license">
        <p>All code on this site is licensed under the <a href="https://github.com/yahoo/formatjs-site/blob/master/LICENSE.md">Yahoo BSD License</a> unless stated.</p>
    </div>
    <div class="legal-copy">
        <p>&copy; 2014 Yahoo! Inc. All rights reserved.</p>
    </div>
</div>
