<div class="menu pure-menu pure-menu-open pure-menu-horizontal pure-u-1">
    <a href="/" class="menu-heading pure-menu-heading">IntlJS</a>

    <ul>
        <li class="menu-item">
            <a class="animated" href="/overview/">Overview</a>
        </li>
        <li class="menu-item">
            <a class="animated" href="/quickstart/">Quickstart</a>
        </li>
        <li class="menu-item">
            <a class="animated" href="/github/">GitHub</a>
        </li>
    </ul>
</div>