<div class="splash-menu pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="splash-menu-heading pure-menu-heading">IntlJS</a>

    <ul>
        <li class="splash-menu-item">
            <a class="animated" href="/overview/">Overview</a>
        </li>
        <li class="splash-menu-item">
            <a class="animated" href="/quickstart/">Quickstart</a>
        </li>
        <li class="splash-menu-item">
            <a class="animated" href="/github/">GitHub</a>
        </li>
    </ul>
</div>