<div id="menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-responsive">
    <a href="/" class="menu-heading pure-menu-heading">IntlJS</a>
    <a href="#" class="pure-menu-toggle">Menu</a>

    <ul>
        <li class="menu-item">
            <a class="animated pure-menu-label" href="/overview/">Overview</a>
        </li>
        <li class="menu-item">
            <a class="animated pure-menu-label" href="/start/">Get Started</a>
        </li>
        <li class="menu-item pure-menu-can-have-children pure-menu-has-children">
            <a class="animated pure-menu-label" href="#">API</a>
            <ul class="pure-menu-children">
                <li><a class="animated" href="/handlebars">Handlebars Helpers</a></li>
                <li><a class="animated" href="/dust">Dust Helpers</a></li>
                <li><a class="animated" href="/react">React Mixins</a></li>
                <li><a class="animated" href="/javascript">Intl Message Format</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a class="animated pure-menu-label" href="/faq/">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="animated pure-menu-label" href="/github/">GitHub</a>
        </li>
    </ul>
</div>
