<div class="nav">
    <span class="brand">
        <a class="brand-mark" href="{{pathTo 'home'}}">
            <span class="visuallyhidden">{{brand}}</span>
        </a>
    </span>

    <menu class="nav-menu">
      {{#each menuItems}}
        <li class="nav-menu-item {{#if (isEqual name ../activeMenuItem)}}is-active{{/if}}">
            <a href="{{pathTo name}}">{{label}}</a>
        </li>
      {{/each}}
    </menu>
</div>
