<div class="sidebar-wrapper pure-u">
    <div class="sidebar">
        <h3 class="sidebar-title">{{title}}</h3>
        <ul class="sidebar-list">
            {{#sectionList}}
                <li class="sidebar-list-item">
                    <a href="#{{this.id}}">{{this.heading}}</a>
                </li>
            {{/sectionList}}
        </ul>
    </div>
</div>