<ul>
    <li>{{formatNumber       price "USD"}}</li>
    <li>{{formatDate     timestamp "short"}}</li>
    <li>{{formatTime           now "hhmm"}}</li>
    <li>{{formatRelative yesterday "hours"}}</li>
</ul>
