<p>
    <b>{{format-relative postDate}}</b> <i>(best fit)</i><br>
    <b>{{format-relative postDate units="minute"}}</b> <i>(in minutes)</i>
</p>
<p>
    <b>{{format-relative lastTrip}}</b> <i>(best fit)</i><br>
    <b>{{format-relative lastTrip units="day"}}</b> <i>(in days)</i>
</p>
