<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{title}}</title>

    {{> styles}}
</head>
<body class="{{#hasSections}} body-has-sections {{/hasSections}}">
    <div class="wrapper {{#hasSections}} wrapper-has-sections {{/hasSections}}">
        {{> menu}}

        {{#hasSections}}
        {{> sidebar}}
        {{/hasSections}}

        <div class="content">
            {{{body}}}
        </div>

        {{> footer}}
    </div>
    <script>
        {{{state}}}
    </script>

    {{> scripts}}
</body>
</html>
