<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{title}}</title>

    <link href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" rel="stylesheet">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/bower_components/rainbow/themes/github.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="{{#hasSections}} body-has-sections {{/hasSections}}">
    <div class="wrapper {{#hasSections}} wrapper-has-sections {{/hasSections}}">
        {{> menu}}
        
        {{#hasSections}}
        {{> sidebar}}
        {{/hasSections}}

        <div class="content">
            {{{body}}}
            
            {{> footer}}
        </div>
    </div>
    <script>
        {{{state}}}
    </script>
    <script src="/bower_components/yepnope/yepnope.js"></script>
    <script src="/bower_components/rainbow/js/rainbow.min.js"></script>
    <script src="/bower_components/rainbow/js/language/generic.js"></script>
    <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
    <script src="/js/ui.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
