{{setTitle "Getting Started"}}
{{setDescription "General information on getting started internationalization web apps client and server in JavaScript."}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>Getting Started</h1>
    <h2 class="subheading">
        Start with the Guides to Internationalization
    </h2>

    <p>
        Internationalizing web apps is an involved and complex task. We created the following guides to document the process:
    </p>

    {{> guides-list}}

    <h2>{{brand}} Integrations</h2>

    <p>
        We've also integrated internationalization support into a few common template and component libraries. The documentation pages for these integrations is also a good place to start:
    </p>

    {{> integrations-list}}
</section>
