body {
    font-family: "Open Sans", sans-serif;
    color: #666;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}
.content {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 1.5em;
}

.warning {
    color:#a31515;
}

.example {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

@media screen and (min-width: 48em) {
    .content {
        padding: 3em inherit;
    }
}
