:root {
    --black        : rgb(65, 57, 70);
    --gray         : rgb(95, 90, 99);
    --gray-medium  : rgb(150, 150, 150);
    --gainsboro    : rgb(220, 220, 220);
    --gray-light   : rgb(247, 247, 247);
    --white        : rgb(255, 255, 255);
    --white-alpha  : rgba(255, 255, 255, 0.44);
    --pink         : rgb(173, 104, 216);
    --pink-alpha3  : rgba(208, 146, 247, 0.20);
    --pink-alpha2  : rgba(208, 146, 247, 0.15);
    --pink-alpha1  : rgba(208, 146, 247, 0.10);
    --purple       : rgb(171, 87, 243);
    --purple-medium: rgb(94, 67, 112);
    --purple-dark  : rgb(103, 58, 131);
    --yellow-dark  : rgb(197, 166, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.pure-button {
    border-radius: 0.25em;
}
a.pure-button:link,
a.pure-button:visited {
    color: var(--purple);
}
.pure-button-hover,
.pure-button-active,
.pure-button:hover,
.pure-button:focus,
.pure-button:active {
    filter: none;
    background-image: none;
    box-shadow: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    line-height: 1.625;
    color: var(--gray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}
h1 {
    font-weight: 300;
}

a:link,
a:visited {
    color: var(--purple);
    text-decoration: none;
}

pre,
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: var(--black);
    background: var(--gray-light);
}
code {
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
}
a:link code,
a:visited code {
    color: var(--purple);
}
p code {
    font-size: 90%;
}
.code {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.code code {
    font-size: 90%;
    white-space: pre;
    word-wrap: normal;
    padding: 0;
    background: none;
}
.code-wrap code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.l-wrap,
.l-wrap-wide {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}
.l-wrap-wide {
    max-width: 64rem;
}

.subheading {
    margin-top: 0;
    color: var(--gray);
}

.tabs-tablist {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid var(--gainsboro);
}
.tabs-tab {
    margin: 0 1rem -1px;
    padding: 0.25rem 0rem;
    text-transform: uppercase;
    color: var(--black);
    cursor: pointer;
    user-select: none;
}
.tabs-tab:first-child {
    margin-left: 0;
}
.tabs-tab:last-child {
    margin-right: 0;
}
.tabs-tab:hover {
    border-bottom: 3px solid var(--gainsboro);
}
.tabs-tab.is-selected {
    color: var(--purple-dark);
    border-bottom: 3px solid var(--purple-dark);
}

.example-source .code {
    margin-top: 0;
}
.example-output {
    margin-bottom: 1rem;
}
.example-output-heading {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
}
.example-output-controls {
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: right;
}
.example-label {
    margin-right: 0.375rem;
}
.example-output-enter {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}
.example-output-enter-active {
    opacity: 1;
}

.example .handlebars-output,
.example .react-output,
.example .dust-output {
    padding: 0 1em;
    border: 0.125rem solid var(--gainsboro);
    border-radius: 0.5rem;
}

.head {
    background: var(--purple-dark);
}
.head a:link,
.head a:visited {
    color: var(--white);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.brand {
    line-height: 1.0;
}
.brand-mark {
    display: block;
}

.nav-menu {
    margin: 0.625rem 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-weight: 300;
}
.nav-menu a {
    padding: 0.5rem;
}
.nav-menu-item:first-child {
    margin-left: 0;
}
.nav-menu-item:last-child {
    margin-right: 0;
}

.splash {
    background: url("/img/splash-head.jpg") no-repeat;
    background-size: cover;
    color: var(--white);
    text-align: center;
}
.splash a:link,
.splash a:visited {
    color: var(--white);
}
.splash .tagline {
    color: var(--white-alpha);
}
.splash .nav {
    justify-content: flex-end;
    order: 1;
}
.splash .brand {
    width: 100%;
    order: 2;
}
.splash .brand-mark {
    background: url("/img/logo.svg") no-repeat;
    background-size: contain;
    background-position: center;
}
.splash .nav-menu {
    margin-top: 1.25rem;
}

.splash-example-container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.splash-example-heading {
    margin: 0;
    color: var(--pink);
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
}
.splash-example-output {
    padding: 1rem;
    border: 0.125rem solid var(--pink-alpha2);
    border-radius: 0.5rem;
    background-color: var(--pink-alpha1);
}
.splash-example-controls {
    display: flex;
    align-items: baseline;
    margin-top: 0.25rem;
}
.splash-example-controls,
.splash-example-controls a:link,
.splash-example-controls a:visited {
    color: var(--pink);
}
.splash-example-label {
    margin-right: 0.375rem;
}

.splash-cta-button {
    background-color: var(--pink-alpha3);
    padding-left: 2em;
    padding-right: 2em;
}
.splash-cta-button:hover {
    background-color: var(--pink-alpha2);
}
.standards-content {
    display: flex;
    flex-wrap: wrap;
}
.standards-logo {
    margin-left: auto;
    margin-right: auto;
}
.standards-logo img {
    display: block;
    margin: 0 auto;
}

.integrations-content,
.integrations-list,
.integration,
.integration-content,
.integration-brand {
    display: flex;
}
.integrations-content {
    flex-wrap: wrap;
}
.integrations-list {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}
.integration {
    width: 33.3333%;
    justify-content: space-around;
}
.integration-content {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.integration-name {
    order: 2;
    margin: 0.5rem 0 0;
}
.integration-brand {
    order: 1;
    flex-grow: 1;
    align-items: center;
}
.integration-mark {
    display: block;
    width: 100%;
}

.features-list,
.feature-ex,
.feature-ex-output {
    display: flex;
}
.features-list {
    flex-wrap: wrap;
}
.feature {
    margin-top: 1em;
    margin-bottom: 1em;
}
.feature-ex {
    align-items: center;
}
.feature-ex-input {
    background: transparent;
    font-size: 1.125rem;
}
.feature-ex-transform {
    height: 32px;
    width: 32px;
    opacity: 0.33;
}
.feature-ex-output {
    flex-direction: column;
    font-size: 1.25rem;
}
.feature-ex-output,
.feature-ex-output a:link,
.feature-ex-output a:visited {
    color: var(--yellow-dark);
}
.feature-ex-locale {
    font-size: 0.875rem;
    font-style: normal;
    text-transform: uppercase;
    color: var(--gray-medium);
}

.repos {
    display: flex;
}
.repos {
    flex-wrap: wrap;
}
.repo {
    flex-grow: 1;
}
.repo-name {
    margin-top: 0.5rem;
}

.note {
    padding: 0.4em;
    background-color: #FFC;
    border: 1px solid #CC8;
}
.foot {
    margin-top: 4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--gainsboro);
    background-color: var(--gray-light);
}

.legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.legal-clause {
    white-space: nowrap;
}

@media screen and (min-width: 0) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1.125rem; }

    .code,
    .tabs-tablist {
        font-size: 0.875rem;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }

    .code,
    .tabs-tablist,
    .l-wrap,
    .l-wrap-wide {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .splash {
        padding-bottom: 2rem;
    }

    .nav {
        margin: 0 0.125rem 1rem;
    }

    .brand-mark {
        margin: 0.5rem;
        width: 2.1484rem;
        height: 2.5rem;
        background-image: url("/img/logo-element.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .splash .brand {
        margin: 2rem 0 0;
    }
    .splash .brand-mark {
        margin: 0 auto;
        width: 12.3436rem;
        height: 2rem;
    }

    .tagline {
        margin: 1rem 0 2rem;
        line-height: 1.2;
    }

    .splash-example-controls {
        justify-content: space-between;
    }
    .splash-example-output {
        font-size: 1.25rem;
    }

    .splash-cta {
        font-size: 1.125rem;
        margin: 4rem 0 2rem;
    }

    .standards-logo {
        width: 100%;
    }
    .standards-logo img {
        max-width: 80px;
        max-height: 80px;
    }

    .integrations .integrations-list {
        width: 100%;
    }
    .integration {
        margin: 0 0.625rem;
    }
    .integration-mark {
        max-width: 80px;
        max-height: 80px;
    }

    .feature {
        width: 100%;
    }
    .feature-ex {
        flex-direction: column;
    }
    .feature-ex-transform {
        margin: 0.5rem 0;
        background: url("/img/arrow-down.svg") no-repeat;
        background-position: top center;
        background-size: contain;
    }

    .repo {
        width: 100%;
    }

    .legal {
        flex-wrap: wrap;
    }
    .legal-license,
    .legal-copyright {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-height: 0) {
    .splash {
        min-height: 100%;
    }
}

@media screen and (max-height: 20em) {
    .splash-cta {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 30em) {
    .brand-mark {
        width: 9.2578rem;
        height: 2.5rem;
        background-image: url("/img/logo.svg");
    }

    .nav-menu-item {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    .splash-example-controls {
        justify-content: flex-end;
    }
    .splash-example-control:first-child {
        margin-right: 1rem;
    }

    .legal {
        flex-wrap: nowrap;
    }
    .legal-license,
    .legal-copyright {
        width: auto;
        flex-grow: 1;
    }
    .legal-license {
        text-align: left;
    }
    .legal-copyright {
        text-align: right;
    }
}

@media screen and (min-width: 35.5em) {
    .standards-desc {
        width: 62%;
    }
    .standards-logo {
        width: 38%;
    }
    .standards-logo img {
        max-width: 128px;
        max-height: 128px;
    }

    .integration-mark {
        max-width: 128px;
        max-height: 128px;
    }

    .features-list {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }
    .feature {
        padding: 0 0.625rem;
        width: 50%;
    }

    .repos {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }
    .repo {
        width: 50%;
        padding: 0 0.625rem;
    }
    .repo-description {
        font-size: 0.875rem;
    }
}

@media screen and (min-height: 36em) {
    .splash {
        min-height: 50%;
    }
}

@media screen and (min-width: 36em) and (min-height: 36em) {
    .nav {
        font-size: 1rem;
    }
}

@media screen and (min-width: 40em) {
    .integrations .integrations-desc {
        width: 38%;
    }
    .integrations .integrations-list {
        width: 62%;
        padding-left: 1rem;
    }
    .integrations .integration:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 48em) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }

    .code,
    .tabs-tablist {
        margin-left: 0;
        margin-right: 0;
    }

    .code {
        font-size: 1rem;
    }

    .tabs-tablist {
        padding-left: 0;
        padding-right: 0;
    }

    .code,
    .l-wrap,
    .l-wrap-wide {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .docs {
        font-size: 1.125rem;
    }

    .nav {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .nav-menu {
        font-size: 1.125rem;
    }

    .splash .brand {
        margin-top: 4rem;
    }
    .splash .brand-mark {
        width: 18.5154rem;
        height: 3rem;
    }
    .splash .nav-menu {
        margin-top: 1.1875rem;
    }

    .splash-cta {
        font-size: 1.25rem;
    }

    .tagline {
        font-size: 1.875rem;
        margin-bottom: 4rem;
    }

    .integration {
        margin: 0 1rem;
    }

    .features-list {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .feature {
        padding: 0 1rem;
    }
    .feature-ex {
        flex-direction: row;
    }
    .feature-ex-input {
        width: 8rem;
    }
    .feature-ex-transform {
        margin: 0 1rem;
        background: url("/img/arrow-right.svg") no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .repos {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .repo {
        padding: 0 1rem;
    }
    .repo-description {
        font-size: 1rem;
    }
}
