:root {
    --black        : rgb(65, 57, 70);
    --gray         : rgb(95, 90, 99);
    --gray-medium  : rgb(150, 150, 150);
    --gray-light   : rgb(247, 247, 247);
    --white        : rgb(255, 255, 255);
    --pink         : rgb(208, 146, 247);
    --purple       : rgb(131, 57, 194);
    --purple-medium: rgb(94, 67, 112);
    --purple-dark  : rgb(103, 58, 131);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.pure-button {
    border-radius: 0.25em;
}
a.pure-button:link,
a.pure-button:visited {
    color: var(--purple);
}
.pure-button-hover,
.pure-button-active,
.pure-button:hover,
.pure-button:focus,
.pure-button:active {
    filter: none;
    background-image: none;
    box-shadow: none;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    line-height: 1.625;
    color: var(--gray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}
h1 {
    font-weight: 300;
}

a:link,
a:visited {
    color: var(--purple);
    text-decoration: none;
}

pre,
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: var(--black);
    background: var(--gray-light);
}
code {
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
}
a:link code,
a:visited code {
    color: var(--purple);
}
p code {
    font-size: 90%;
}
.code {
    padding: 1rem;
    overflow-x: auto;
    -webkit-overflow-srolling: touch;
}
.code code {
    font-size: 90%;
    white-space: pre;
    word-wrap: normal;
    padding: 0;
    background: none;
}
.code-wrap code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.l-wrap {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.subheading {
    margin-top: 0;
    color: var(--gray);
}

.example-output-enter {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}
.example-output-enter-active {
    opacity: 1;
}

.head {
    background: var(--purple-dark);
}
.head a:link,
.head a:visited {
    color: var(--white);
}

.splash {
    background: url('/img/splash-head.jpg') no-repeat;
    background-size: cover;
    color: var(--white);
    text-align: center;
}
.splash a:link,
.splash a:visited,
.splash .tagline {
    color: var(--white);
}

.splash-example-container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.splash-example-heading {
    margin: 0;
    color: var(--pink);
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
}
.splash-example-output {
    padding: 1rem;
    border: 0.125rem solid var(--pink);
    border-radius: 0.5rem;
}
.splash-example-controls {
    display: flex;
    align-items: baseline;
}
.splash-example-controls,
.splash-example-controls a:link,
.splash-example-controls a:visited {
    color: var(--pink);
}
.splash-example-controls {
    margin-top: 0.25rem;
}
.splash-example-label {
    margin-right: 0.375rem;
}

.splash-cta-button {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
    padding-left: 2em;
    padding-right: 2em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
}
.nav a {
    padding: 0.5rem;
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-weight: 300;
}
.nav-menu-item:first-child {
    margin-left: 0;
}
.nav-menu-item:last-child {
    margin-right: 0;
}

.integrations-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.integrations-list-item {
    width: 33.3333%;
    text-align: center;
    align-self: flex-end;
}
.integrations-list-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.integrations-list-name {
    order: 2;
    margin: 0.5rem 0 0;
    color: var(--purple);
}
.integrations-list-mark {
    display: block;
    order: 1;
    width: 100%;
    max-width: 150px;
}

.features-ex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.features-ex-input {
    background: transparent;
    font-size: 1.5rem;
}
.features-ex-transform {
    margin: 0 2rem;
}
.features-ex-output {
    font-size: 1.75rem;
    color: var(--purple-medium);
    padding: 0 1rem;
}
.features-ex-output {
    line-height: 1.0;
    border-right: 1px solid var(--gray-medium);
}
.features-ex-output:last-child {
    border-right: 0;
}
.features-ex-locale {
    display: block;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray-medium);
}

.repos {
    display: flex;
}
.repos {
    flex-wrap: wrap;
}
.repo {
    flex-grow: 1;
}
.repo-name {
    margin-top: 0.5rem;
}

@media screen and (min-width: 0) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1.125rem; }

    .l-wrap {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .splash {
        min-height: 100%;
        padding-bottom: 2rem;
    }

    .nav {
        font-size: 0.875rem;
        margin: 0 0.125rem 1rem;
    }

    .tagline {
        margin: 2rem 0;
    }

    .splash-example-controls {
        justify-content: space-between;
    }
    .splash-example-output {
        font-size: 1.25rem;
    }

    .splash-cta {
        font-size: 1.125rem;
        margin: 4rem 0 2rem;
    }

    .integrations-list-item {
        margin: 0 0.5rem;
    }

    .repo {
        width: 100%;
    }
}

@media screen and (max-height: 20em) {
    .splash-cta {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 30em) {
    .splash-example-controls {
        justify-content: flex-end;
    }
    .splash-example-control:first-child {
        margin-right: 1rem;
    }

    .nav-menu-item {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

@media screen and (min-width: 35.5em) {
    .integrations-list-item {
        margin: 0 1rem;
    }

    .repos {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }
    .repo {
        width: 50%;
        padding: 0 0.625rem;
    }
    .repo-description {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 36em) and (min-height: 36em) {
    .splash {
        min-height: 50%;
    }

    .nav {
        font-size: 1rem;
    }
}

@media screen and (min-width: 48em) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }

    .l-wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .docs {
        font-size: 1.125rem;
    }

    .nav {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .tagline {
        font-size: 1.875rem;
        margin: 4rem 0;
    }

    .splash-cta {
        font-size: 1.25rem;
    }

    .integrations-list-item {
        margin: 0 1.5rem;
    }

    .repos {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .repo {
        padding: 0 1rem;
    }
    .repo-description {
        font-size: 1rem;
    }
}
