:root {
    --black        : rgb(65, 57, 70);
    --gray         : rgb(95, 90, 99);
    --gray-medium  : rgb(150, 150, 150);
    --gainsboro    : rgb(220, 220, 220);
    --gray-light   : rgb(247, 247, 247);
    --white        : rgb(255, 255, 255);
    --white-alpha  : rgba(255, 255, 255, 0.44);
    --pink         : rgb(173, 104, 216);
    --pink-alpha3  : rgba(208, 146, 247, 0.20);
    --pink-alpha2  : rgba(208, 146, 247, 0.15);
    --pink-alpha1  : rgba(208, 146, 247, 0.10);
    --purple       : rgb(171, 87, 243);
    --purple-medium: rgb(94, 67, 112);
    --purple-dark  : rgb(103, 58, 131);
    --yellow-dark  : rgb(197, 166, 0);
}

pre .comment {
    color: var(--gray);
}

pre .tag,
pre .tag-name,
pre .support.tag-name {
    color: var(--gray);
}

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
    font-weight: bold;
}

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
    color: var(--gray);
}

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
    font-weight: normal;
    color: var(--purple);
}

pre .attribute,
pre .variable,
pre .support {
    color: var(--purple-medium);
}

pre .string,
pre .support.value  {
    font-weight: normal;
    color: var(--pink);
}
