<ul>
    <li>
        Formats <strong>numbers</strong> and <strong>dates/times</strong>, including those in complex messages.
    </li>
    <li>
        Formats <strong>relative times</strong> (e.g., "3 hours ago").
    </li>
    <li>
        Formats complex messages, including <strong>plural</strong> and <strong>select</strong> arguments using <a href="{{pathTo 'guides' guide='message-syntax'}}">ICU Message syntax</a>.
    </li>
    <li>
        Supports custom formatters for <strong>numbers</strong> and <strong>dates/times</strong>.
    </li>
</ul>
