<p class="note">
    <strong>Note:</strong> Older browsers and Safari do not provide the global {{code "Intl"}} object (ECMA-402). Read more on <a href="{{pathTo 'guides' guide='runtime-environments'}}#client">how to patch the browser runtime</a> using a polyfill.
</p>
