<p class="note">
    <strong>Note:</strong> Older browsers do not have the built-in {{code "Intl"}} APIs (ECMA-402). Read more on <a href="{{pathTo 'guides' guide='runtime-environments'}}#client">how to patch the browser runtime</a> using a polyfill.
</p>
