<p class="note">
    <strong>Note:</strong> Node.js <= 0.10 doesn't have the built-in <code>Intl</code> APIs (ECMA-402). Node.js 0.12 does, but the default build/distribution only supports English. Read more on <a href="{{pathTo 'guides' guide='runtime-environments'}}#server">how to patch Node.js</a> using a polyfill.
</p>
