<p class="note">
    <strong>Note:</strong> Node.js (as of 0.10) doesn't provide the global <code>Intl</code> object (ECMA-402).Read more on <a href="{{pathTo 'guides' guide='patch-runtime'}}">how to patch Node.js</a> using a polyfill.
</p>
