{{#intl locales=intl.locale messages=intl.messages}}

    <div class='warning'>
    {{intlHTMLMessage (intlGet "messages.SUBSCRIPTION_WARNING")
            numDays=user.daysLeft}}
    </div>

{{/intl}}
