{{#intl locales=intl.locale messages=intl.messages formats=intl.formats}}

<p>
    {{intlMessage (intlGet "messages.USER_HAS_BOOKS")
            firstName=user.firstName
            lastName=user.lastName
            numBooks=user.numBooks}}
</p>

<p>
    {{intlMessage (intlGet "messages.USER_WILL_SELL")
            firstName=user.firstName
            numBooks=10
            price=1000
            dateBooks=now}}
</p>

{{/intl}}
