{{setTitle "Get Started with JavaScript Internationalization"}}

<h1>Get Started with JavaScript Internationalization</h1>

<ul>
    <li><a href="browser/">Browser</a></li>
    <li><a href="node/">Node.js</a></li>
</ul>
