<p>
    <b>{{formatRelative postDate}}</b> <i>(best fit)</i><br>
    <b>{{formatRelative postDate units="minute"}}</b> <i>(in minutes)</i>
</p>
<p>
    <b>{{formatRelative lastTrip}}</b> <i>(best fit)</i><br>
    <b>{{formatRelative lastTrip units="day"}}</b> <i>(in days)</i>
</p>
