<p>
    <b>{{format-relative postDate}}</b> <i>(best fit)</i><br>
    <b>{{format-relative postDate style="numeric"}}</b> <i>(numeric)</i>
</p>
<p>
    <b>{{format-relative lastTrip}}</b> <i>(best fit)</i><br>
    <b>{{format-relative lastTrip style="numeric"}}</b> <i>(numeric)</i>
</p>
