{{setTitle "About"}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>About</h1>

    <h2>Authorship</h2>

    <p>
        {{brand}} was created by the Yahoo Presentation Technologies (YPT) team, with special thanks to <a href="http://norbertlindenberg.com">Norbert Lindenberg</a> and <a href="https://github.com/andyearnshaw">Andy Ernshaw</a>.
    </p>

    <h2>Standards</h2>

    <p>
        {{brand}} uses the message syntax used by professional translators, and is aligned with the following standards:
    </p>

    <ul>
        <li><a href="http://www.ecma-international.org/ecma-402/1.0/">ECMAScript Internationalization API</a> (ECMA-402)</li>
        <li><a href="http://userguide.icu-project.org/formatparse/messages">ICU Message</a></li>
        <li><a href="http://cldr.unicode.org/">CLDR</a></li>
    </ul>

    <h2>Credits</h2>

    <ul>
        <li><a href="https://unsplash.com">Splash image on homepage</a> was created by <a href="https://twitter.com/alexgindin">Alex Gindin</a></li>
        <li>Handlebars logo: Tilde, Inc.</li>
        <li>React logo: Facebook, Inc.</li>
        <li>Dust: LinkedIn, plus original creator</li>
        <li>Arrow Icons
            <ul>
                <li>Right arrow: Yaroslav Samoilov from The Noun Project</li>
                <li>Down arrow: Yaroslav Samoilov from The Noun Project</li>
            </ul>
        </li>
        <li>Intl.js Polyfill: Andy Earnshaw</li>
        <li>CLDR data credits: CLDR project and creator of cldr npm package</li>
        <li>Intl MessageFormat Parser: derived from Alex Sexton's work (see project's LICENSE for details)</li>
    </ul>

    <h2>Security</h2>

    <p>Please report security issues to the <a href="https://hackerone.com/yahoo/">Yahoo Bug Bounty Program</a>.</p>

</section>
