{{setTitle "About"}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>About</h1>

    <h2>Authorship</h2>

    <p>
        {{brand}} was created at Yahoo by the <em>Yahoo Presentation Platforms Team </em> (YPT),
        with primary contributions by <a href="https://github.com/caridy">Caridy Patino</a>
        and <a href="https://github.com/ericf">Eric Ferraiuolo</a>.
    </p>

    <p>
        Additionally, the YPT Team would like to extend special thanks to external contributors <a href="http://norbertlindenberg.com">Norbert Lindenberg</a> and <a href="https://github.com/andyearnshaw">Andy Ernshaw</a>... [ someone familiar with their role should write this ].
    </p>

    <h2>Standards</h2>

    <p>
        {{brand}} uses the message syntax used by professional translators, and is aligned with the following standards:
    </p>

    <ul>
        <li><a href="http://www.ecma-international.org/ecma-402/1.0/">ECMAScript Internationalization API</a> (ECMA-402)</li>
        <li><a href="http://userguide.icu-project.org/formatparse/messages">ICU Message</a></li>
        <li><a href="http://cldr.unicode.org/">CLDR</a></li>
    </ul>

    <h2>Licensing</h2>

    <p>
        All code on this site is licensed under the <a href="https://github.com/yahoo/formatjs-site/blob/master/LICENSE.md">Yahoo BSD License</a> unless stated otherwise.
    </p>

    <h2>Copyright</h2>

    <p>
        &copy; 2014 Yahoo! Inc. All rights reserved.
    </p>


</section>
