{{setTitle "About"}}
{{setDescription "About this site."}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>About</h1>

    <h2>Authorship</h2>

    <p>
        {{brand}} was created by the Yahoo Presentation Technologies (YPT) team, with special thanks to <a href="http://norbertlindenberg.com">Norbert Lindenberg</a> and <a href="https://github.com/andyearnshaw">Andy Ernshaw</a>.
    </p>

    <h2>Standards</h2>

    <p>
        {{brand}} uses the message syntax used by professional translators, and is aligned with the following standards:
    </p>

    <ul>
        <li><a href="http://www.ecma-international.org/ecma-402/1.0/">ECMAScript Internationalization API</a> (ECMA-402)</li>
        <li><a href="http://userguide.icu-project.org/formatparse/messages">ICU Message</a></li>
        <li><a href="http://cldr.unicode.org/">CLDR</a></li>
    </ul>

    <h2>Credits</h2>

    <ul>
        <li><a href="https://unsplash.com">Splash image on homepage</a> was created by <a href="https://twitter.com/alexgindin">Alex Gindin</a></li>
        <li><a href="http://handlebarsjs.com/">Handlebars</a> logo: Tilde, Inc.</li>
        <li><a href="https://facebook.github.io/react/">React</a> logo: Facebook, Inc.</li>
        <li><a href="http://linkedin.github.io/dustjs/">Dust</a>: LinkedIn, plus original creator</li>
        <li>Arrow Icons
            <ul>
                <li>Right arrow: Yaroslav Samoilov from <a href="http://thenounproject.com/">The Noun Project</a></li>
                <li>Down arrow: Yaroslav Samoilov from <a href="http://thenounproject.com/">The Noun Project</a></li>
            </ul>
        </li>
        <li><a href="https://github.com/andyearnshaw/Intl.js">Intl.js</a> Polyfill: Andy Earnshaw</li>
        <li><a href="https://github.com/papandreou/node-cldr">CLDR</a> data credits: CLDR project and creator of cldr npm package</li>
        <li>Intl MessageFormat Parser: derived from <a href="https://github.com/SlexAxton/messageformat.js">Alex Sexton's work</a> (see project's LICENSE for details)</li>
    </ul>

    <h2>Security</h2>

    <p>Please report security issues to the <a href="https://hackerone.com/yahoo/">Yahoo Bug Bounty Program</a>.</p>

</section>
