{{setTitle "Dust"}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>Dust</h1>

    <h2>{@formatDate}</h2>
    {{~> example examples.date}}

    <h2>{@formatTime}</h2>
    {{~> example examples.time}}

    <h2>{@formatNumber}</h2>
    {{~> example examples.number}}

    <h2>{@formatMessage}</h2>
    {{~> example examples.message}}

</section>
