{{setTitle "Dust Helpers for Internationalization"}}

<h1>Dust Helpers for Internationalization</h1>
<p>Here's a little example with Dust Intl Helpers:</p>

{{{examples.books.rendered}}}

{{#code}}
{{examples.books.source}}
{{/code}}
