{{setTitle "GitHub Repositories"}}
<h2>Find us on GitHub</h2>
<p>
    The IntlJS modules that are referenced on this site are all open-source and available on GitHub through the BSD License. Instead of having one large repository, we have several smaller repositories; one for each module.
</p>

{{sectionHeading "Repositories"}}

<div class="boxes pure-g">
    <div class="box pure-u-1 pure-u-md-1-2">
        <h3>Intl Message Format</h3>
        <p>A vanilla JS API to localize strings, with plural and select support.</p>
        <a class="btn pure-button" href="https://github.com/yahoo/intl-messageformat/">View on GitHub</a>
    </div>

    <div class="box pure-u-1 pure-u-md-1-2">
        <h3>Intl Dust Helpers</h3>
        <p>Dust Helpers for internationalization.</p>
        <a class="btn pure-button" href="https://github.com/yahoo/dust-helper-intl/">View on GitHub</a>
    </div>

    <div class="box pure-u-1 pure-u-md-1-2">
        <h3>Intl Handlebars Helpers</h3>
        <p>Handlebars Helpers for internationalization.</p>
        <a class="btn pure-button" href="https://github.com/yahoo/handlebars-helper-intl">View on GitHub</a>
    </div>

    <div class="box pure-u-1 pure-u-md-1-2">
        <h3>Intl React Helpers</h3>
        <p>React Helpers for internationalization.</p>
        <a class="btn pure-button" href="https://github.com/caridy/react-intl">View on GitHub</a>
    </div>
</div>


{{sectionHeading "Filing Issues"}}
<p>
    If you wish to file an issue, you can do so on the specific module's GitHub repository. Try to be descriptive when filing issues, as it makes it easier for us to debug.
</p>

{{sectionHeading "Submitting Pull Requests"}}
<p>
    Pull requests are very welcome, but should be within the scope of the project, and follow the repository's code conventions. Before submitting a pull request, it's always good to file an issue, so we can discuss the details of the PR.
</p>
