<div class="l-wrap">
    <h1>Handlebars</h1>

    <h2>\{{formatDate}}</h2>
    {{> example examples.date}}

    <h2>\{{formatNumber}}</h2>
    {{> example examples.number}}

    <h2>\{{formatMessage}}</h2>
    {{> example examples.message}}
</div>
