<div class="splash pure-u-1">
    {{> menu}}
    
    <h2 class="splash-head">Internationalize your web apps on the client and server</h2>

    {{>intlmessageformat/books}}

    <hr class="rule splash-rule">

    <a class="animated btn splash-btn btn-primary pure-button" href="/quickstart/">Get Started</a>
    <a class="animated btn splash-btn pure-button" href="/overview/">Learn about Intl</a>
</div>

<div class="content pure-u-1">

    <h2>A simple JavaScript API.</h2>
    <p>
        The Intl Message Format API allows developers to add localization support to their applications on the client and the server via <a href="http://nodejs.org">NodeJS</a>.  
    </p>

    <a class="btn pure-button" href="/javascript/">View JavaScript API Docs</a>

    <hr class="rule">

    <h2>Works with template engines.</h2>
    <p>
        In addition to the JavaScript API, we have helpers that you can use with <a href="http://handlebarsjs.com">Handlebars</a>, <a href="http://linkedin.github.io/dustjs/">Dust</a>, or <a href="http://reactjs.org">React</a>. 

        <ul>
            <li><a href="/handlebars/">Use Intl with Handlebars</a></li>
            <li><a href="/dust/">Use Intl with Dust</a></li>
            <li><a href="/react/">Use Intl with React</a></li>
        </ul>
    </p>

    <hr class="rule">

    <h2>Developed by Yahoo. Open source for everyone.</h2>
    <p>
        Intl Message Format and its associated helpers were developed at Yahoo, and are being used in popular sites like <a href="https://flickr.com">Flickr</a>. The project is open-source and available on <a href="/github/">GitHub</a>.
    </p>
</div>

