<h2>A simple JavaScript API.</h2>
<p>
    The Intl Message Format API allows developers to add localization support to their applications on the client and the server via <a href="http://nodejs.org">NodeJS</a>.
</p>

<a class="btn pure-button" href="/node">Server Guide</a>
<a class="btn pure-button" href="/browser">Browser Guide</a>

<hr class="rule">

<h2>Works with template engines.</h2>
<p>
    In addition to the JavaScript API, we have helpers that you can use with <a href="http://handlebarsjs.com">Handlebars</a>, <a href="http://linkedin.github.io/dustjs/">Dust</a>, or <a href="http://reactjs.org">React</a>.

    <ul>
        <li><a href="/handlebars/">Use Intl with Handlebars</a></li>
        <li><a href="/dust/">Use Intl with Dust</a></li>
        <li><a href="/react/">Use Intl with React</a></li>
    </ul>
</p>

<hr class="rule">

<h2>Developed by Yahoo. Open source for everyone.</h2>
<p>
    Intl Message Format and its associated helpers were developed at Yahoo, and are being used in popular sites like <a href="https://flickr.com">Flickr</a>. The project is open-source and available on <a href="/github/">GitHub</a>.
</p>
