<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>Integrations</h1>

    <menu>
        <li><a href="{{pathTo 'handlebars'}}">Handlebars</a></li>
        <li><a href="{{pathTo 'react'}}">React</a></li>
        <li><a href="{{pathTo 'dust'}}">Dust</a></li>
    </menu>
</section>
