<h2>Problems to be solved</h2>

<p>
With both server-side and client-side internationalization, though, we would often find ourselves having to localize data twice - once for the server, and once again for the client, in two different ways.
</p>

<p>
As well, although the Internationalization API started to standardize how we could localize our application, it hasn't been fully implemented in every browser yet. Polyfills for that API, which extended that functionality to older browsers, have since been developed, but for performance reasons, we wouldn't want to load in the polyfill and every single language bundle for every user. Instead, we would want an intelligent way of detecting what locale a user was in, if their browser supported the new API, and only loading the pieces we needed.
</p>

<h2>Internationationalization with Node.js</h2>

<p>
Node.js lets developers write their server-side code in JavaScript, which makes it easier to share the same code on both the browser and the server. In our case, we don't have to write our internationalization code twice, in two different programming languages, if we're using JavaScript on both ends.
</p>

<p>
Instead, our goal is to write it once and use for two purposes:
</p>

<ul>
    <li>On the server - when initially rendering our templates, we should be able to localize the templates, so that our users receive the localized HTML as soon as the page loads.</li>
    <li>On the browser - once our users start transitioning from page to page, the same localization code should be usable when using a client-side templating engine like Handlebars or Dust.</li>
</ul>

<p>
By doing this, we save developers from having to handle internationalization twice, and make sure that all updates to one end will also update the other. We get the performance benefits of initial server-rendering as well as the richer UI experience of client-rendering.
</p>

<h2>IntlMessageFormat</h2>

<p>
The next thing we want to consider is how much data we send to our users to do internationalization. We want to minimize the size of the libraries that we send down, and we can take advantage of built-in {{code "Intl"}} APIs in the latest browsers to do so.
</p>

<p>
Our <a href="https://github.com/yahoo/intl-messageformat">intl-messageformat</a> library builds on top of the <a href="https://github.com/andyearnshaw/Intl.js/">Intl.js</a> polyfill by <a href="https://github.com/andyearnshaw">Andy Earnshaw</a>. The goal of it is to provide a implementation of a proposed standard by the JavaScript community on an API that provides localized message formatting for features such as gender, plurals, and other user-defined values.
</p>

<p>
It provides configurations for a large number of languages and locales by default. Our goal is to be able to send only the language and locale files that are needed, not all of them.
</p>

<p>
To do so:
</p>

<ul>
    <li>We need to know what language and locale our user is in.</li>
    <li>We need to detect whether the user's browser has the native {{code "Intl"}} APIs.</li>
</ul>

<p>
We can solve the first problem when our user makes their initial request (through the {{code "Accept-Language"}} header), but we can't solve the second problem unless we're actually on our user's browser.
</p>

<p>
Our solution, then, is to dynamically load in the language and locale files as soon as the page loads, based on what we detect is available on the client.
</p>

<p>
Our users will still get to see their content initially rendered in the correct language because of server-rendering, so it'll still seem as if the page has loaded quickly.
</p>
