{{setTitle "React Helpers for Internationalization"}}

<h1>React Helpers for Internationalization</h1>
<p>Here's a little example with React Intl Helpers:</p>

<div class="example">
    {{{examples.product.rendered}}}
</div>

{{#code}}
{{{examples.product.source}}}
{{/code}}
