{{setTitle "React"}}
{{setDescription "Documentation and examples of React integration."}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>React</h1>

    <h2>Format Numbers</h2>
    {{~> example examples.number}}

    <h2>Format Dates</h2>
    {{~> example examples.date}}

    <h2>Format Relative</h2>
    {{~> example examples.relative}}

    <h2>Format Message</h2>
    {{~> example examples.message}}
</section>
