{{sectionHeading "Locale configuration"}}

<p>All React components that use the React Intl mixin require the locales to be declared as a property of the component. For example:</p>

{{#code "jsx"}}
/** @jsx React.DOM */
React.renderComponent(
    <MyIntlComponent locales={["en-US"]}/>,
    document.getElementById('example')
);
{{/code}}

<p>However, {{code "ReactIntlMixin"}} is designed so that descendants of components that use the mixin inherit the value of {{code "locales"}}.</p>

{{#code "jsx"}}
/** @jsx React.DOM */
React.renderComponent(
    <MyIntlComponent locales={["en-US"]}>
        <IntlDescendant/> //IntlDescendant doesn't need the "locales" property
    </MyIntlComponent>,
    document.getElementById('example')
);
{{/code}}
