<p>
    <b>{{formatRelative postDate}}</b> <i>(best fit)</i><br>
    <b>{{formatRelative postDate "exact"}}</b> <i>(numeric)</i>
</p>
<p>
    <b>{{formatRelative lastTrip}}</b> <i>(best fit)</i><br>
    <b>{{formatRelative lastTrip "exact"}}</b> <i>(numeric)</i>
</p>
